.Weather-display-section {
  list-style-type: none;
  padding: 0;
}
.progress {
  background: linear-gradient(
    90deg,
    rgb(0, 255, 1),
    yellow,
    tomato,
    rgba(255, 0, 0)
  );
}
.progress-bar {
  background-color: #666;
}
